{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">
            <div class="box">
            <h1>Rights of a Person Arrested</h1>
            <p>The police personnel carrying out the arrest and handling the interrogation of the arrestee should wear
                accurate, visible and clear identification and name tags with their designations.<br> The particulars of
                all
                such police personnel who handle interrogation of the arrestee must be recorded in a register.<br>

                That the police officer carrying out the arrest of the arrestee shall prepare a memo of arrest at the
                time
                of arrest and such memo shall be attested by at least one witness,<br> who may either be a member of the
                family of the arrestee or a respectable <br>person of the locality from where the arrest is made.<br> It
                shall also be countersigned by the arrestee and shall contain the time and date of arrest<br>
                A person who has been arrested or detained and is being held in custody in a police station or
                interrogation
                centre or other lock-up, <br>shall be entitled to have one friend or relative or other person known to
                him
                or having interest in his welfare being informed, <br>as soon as practicable, that he has been arrested
                and
                is being detained at the particular place,<br> unless the attesting witness of the memo of arrest is
                himself
                such a friend or a relative of the arrestee<br>
                The time, place of arrest and venue of custody of an arrestee must be notified by the police where the
                next
                friend or relative of the arrestee lives outside the district or town through the Legal Aid Organisation
                in
                the District and the police station of the area concerned telegraphically within a period of 8 to 12
                hours
                after the arrest<br>
                The person arrested must be made aware of this right to have some one informed of his arrest or
                detention as
                soon as he is put under arrest or is detention<br>
                An entry must be made in the diary at the place of detention regarding the arrest of the person which
                shall
                also disclose the name of the next friend of the person who has been informed of the arrest and the
                names
                and particulars of the police officials in whose custody the arrestee is
                The arrestee should, where he so requests, be also examined at the time of his arrest and major and
                minor
                injuries, <br>if any present on his/her body, must be recorded at that time.<br> The "Inspection Memo"
                must
                be singed both by the arrestee and the police officer effecting the arrest and its copy provided to the
                arrestee
                The arrestee should be subjected to medical examination by a trained doctor every 48 hours during his
                detention in custody by a doctor on the panel of approved doctors appointed by Director, Health Services
                of
                the State or Union Territory concerned. <br>Director, Health Services should prepare such a panel for
                all
                tehsils and districts as well
                Copies of all the documents including the memo of arrest, referred to above, should be sent to Illaqa
                Magistrate for his record<br>
                The arrestee may be permitted to meet his lawyer during interrogation, though not throughout the
                interrogation<br>
                A police control room should be provided at all district and State headquarters, where information
                regarding
                the arrest and the place of custody of the arrestee shall be communicated by the officer causing the
                arrest,
                <br>within 12 hours of effecting the arrest and at the police control room it should be displayed on a
                conspicuous notice board.
            </p>

        </div>
    </div>
</div>
</section>
{% endblock %}