{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">

                <h1> Children's Rights</h1>
                <p>The UN convention on the Rights of Child which lndia ratified in 1992, lists the following as the
                    Rights of
                    the child.<br>

                    <strong>The Right to survival:</strong><br>
                    According to the convention, the "Right to survival includes the right to life, the attainable
                    standard of
                    health, nutrition and an adequate standard of living. It also includes the right to a name and
                    nationality".
                    These rights seek to ensure that the children have nutritious food, potable drinking water, a secure
                    home
                    and access to health facilities.<br>

                    <strong>The Right to Protection:</strong><br>
                    According to the convention, this right includes freedom from all forms of exploitation, abuse and
                    inhuman
                    or degrading treatment. This Includes the right to special protection in situations of emergency and
                    armed
                    conflict. The aim is simple, to protect vulnerable children from those who would take advantage of
                    them and
                    to safeguard their minds and bodies.<br>

                    <strong>The Right to development:</strong><br>
                    The right includes the right to be educated, to receive support for development and care during
                    early
                    childhood and to social security. It also includes the right to leisure, to recreation and to
                    cultural
                    activities. This right seeks to ensure that children can study and play with whomever they want,
                    practice
                    their own religion and culture and accept their own uniqueness of other cultures and religion.<br>

                    <strong>The Right to participation:</strong><br>
                    According to the convention, the Riqht to participation accords the child access to appropriate
                    information
                    and the freedom of thought and expression, conscience and religion. In addition to this, one ought
                    to
                    respect the views of the child. The aim here is to see that the children are able to develop their
                    own set
                    of values and principles and that they have the opportunity to express themselves and their own
                    opinions.<br>

                    Apart from the Rights of Child laid down by the U.N.Conventions following are some of the Rights of
                    child
                    laid down by different Acts & the Indian Constitution :<br>

                    No person below eighteen years of age shall be allowed to work in any mine or part thereof (The
                    Mines
                    (Amendment) Act 1983).
                    No child who has not completed his fourteenth year shall be required or allowed to work in any
                    factory (The
                    factories Act, 1948).<br>
                    <strong>The Juvenile Justice Act</strong><br>
                    G.O.P.-112, 2003
                    The Rubik's Cube is one of the best Christmas presents. Think about this when you need an idea for a
                    present
                    this year.
                </p>

            </div>
        </div>
    </div>
</section>
{% endblock %}