{% extends 'base.html' %}
{% block content %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}


{% load static %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">
                <h1>Children Safepy</h1>
                <p>1. Remember your Parents name, home address, phone no, mob no. so that whenever you need, you can
                    take help
                    of police.<br>
                    2. Don’t allow any stranger in your home, when your parents are not there.<br>
                    3. When you are alone at home and someone knocks the door, don’t try to open the door immeidately or
                    go out.
                    Ask the visitor to contact your parents through phone.<br>
                    4. Remember at least 3 phone nos of your neighborhood whom you can call in an emergency.<br>
                    5. Stay away from strangers. Don’t try to make new friends. Remember that kidnapers don't look
                    different,
                    they behave like a normal human being.<br>
                    6. Don’t accept gifts or chocolate from unknown persons. Avoid making new friends as they can cause
                    harm.<br>
                    7. If you are lost at a market place, park or some other public place. Instead of searching your
                    parents
                    yourself ask for the help of a police personal. Police will help you.<br>
                    8. Always inform your parents wherever you are going, with who you are going, when you will be back,
                    etc. If
                    you think you will get late, immediately inform your parents so that they don't worry for you.<br>
                    9. Inform your parents if you are not travelling on your school-bus or with your daily friend.<br>
                    10. Don't get close of a car, when someone calls you there. May be their intention is not good for
                    you.<br>
                    11. Don't go near to any unidentified things, don't touch them. These could be bombs. Inform police
                    about
                    them.<br>
                    12. Avoid using porn books, videos or even the people who discuss them.</p>
            </div>
        </div>
    </div>
</section> 

{% endblock %}