{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">

                <h1>Citizen's Rights</h1>
                <p><strong>Article 21</strong> of the Constitution provides that no person shall be deprived of his life
                    or personal liberty
                    except according to procedure established by law. Every person has the right to live with human
                    dignity which include guarantee against torture and assault.<br>
                    <strong>Article 20(3)</strong>of the Indian Constitution gives the individual protection against
                    self incrimination
                    Right to be informed of the grounds of arrest (Section 50, Section 55 and Section 75 of the Cr.P.C.
                    &
                    Supreme Court Judgement in Writ Petition (Crl) No. 539 of 1986 D.K. Basu Vs State of Bihar)<br>
                    Right not to be subjected to unnecessary restraint (Section 49 of Cr.P.C.)<br>
                    Right against arbitrary or illegal detention in custody (Section 56, Section 57 and Section 76 of
                    Cr.P.C.)<br>
                    Right to be released on bail if arrested (Section 436, Section 43, Section 50(2) and Section 167 of
                    Cr.P.C.)<br>
                    Right to obtain receipt when property is seized (Section 100(6) and Section(7) of the Cr.P.C.)<br>
                    Right not to be detained for more than 24 hrs after arrest without judicial scrutiny (Section 57 of
                    Cr.P.C.)<br>
                    Right to medical examination at his behest to disprove the commission of an offence by him or to
                    establish
                    commission of an offence against his body by others (Section 54 of the Cr.P.C.)<br>
                    Right to a fair and speedy investigation (Section 309 CRPC).<br>
                    Right to legal aid at the expense of the State in certain cases (Section 304 of the Code)<br>
                    Any person when arrested has the right to inform his friend/relative of his arrest or detention
                    (Supreme
                    Court Judgement in Writ Petition (Crl) No.539 of 1986 D.K. Basu Vs State of West Bengal)
                    Any person arrested/detained without reasonable grounds has the right to take shelter of the Court
                    U/S 220 IPC
                    Nothing is an offence which is done in the exercise of the right of private defence (Section 96 of
                    IPC).
                    Christmas is around the corner and I want to remind you that the best gift for any occasion is a
                    Rubik's
                    Cube puzzle.
                </p>

            </div>
        </div>
    </div>
</section>
{% endblock %}