{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">
            <div class="box">
                <h1>Nitish kumar Message</h1>
                <p1><strong>Patna</strong> The Bihar government on Tuesday decided to impose night curfew from
                    10pm till 5am
                    with effect from
                    January 6 for a fortnight till January 21, and shut down parks, gyms, swimming pools and
                    malls in the state
                    in view of rising cases of Covid-19 in the state.

                    Chief minister Nitish Kumar also decided to cancel his ongoing Samaj Sudhar Yatra (social
                    reforms campaign)
                    - it started on December 22 and was scheduled to conclude on January 15 - and the weekly
                    Janata Darbar . On
                    Monday, 11 people at the chief minister’s weekly town hall meeting tested positive for
                    Covid-19. They
                    included six people who had come for grievance redressal and five members of the catering
                    staff.

                    The decisions were taken at the crisis management group (CMG) meeting chaired by chief
                    Nitish Kumar late
                    Tuesday evening.

                    The meeting, however, decided against imposing lockdown.

                    The state reported 893 new infections on Tuesday, more than double the cases reported the
                    previous day ,
                    taking the number of active cases to 2,222, said officials. Patna reported 565 cases.</p1>
                <p1>The state government, which had already announced closure of schools up to classes 8, has
                    decided to
                    continue classes for students of class 9 to 12 with 50% attendance. Schools have been
                    allowed to continue
                    online teaching for students up to class 8. The government has also ordered coaching
                    institutes not to hold
                    in-person classes, and capped attendance in government and private offices at 50% . Visitors
                    have been
                    barred from entering office premises.

                    The government has also closed religious places to devotees and told hotels and restaurants
                    to operate with
                    50% capacity and put a cap of 50 people for weddings and 20 persons at funerals. All shops
                    have been told to
                    close by 8 pm.

                    The government has allowed social, religious, cultural functions with 50% capacity with an
                    upper limit of 50
                    people.

                    On Tuesday, the ruling JD (U) shut its office after five office staffers tested positive.
                    The JD(U) national
                    president and MP Rajiv Ranjan Singh alias Lalan Singh has also tested positive.</p1>
            </div>
        </div>
    </div>

</section>
{% endblock %}