{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}


{% block content %}


<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">
                <div class="block4 pb-4">
                    <div class="container">
                        <div class="content-box inner-box box-container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="sec-pad aboutd innercontent">

                                        <div class="abouttxt">
                                            <div>
                                                <div id="block-thebest-page-title"
                                                    class="block block-core block-page-title-block">




                                                    <h1 class="js-quickedit-page-title"><span
                                                            property="schema:name">Community policing</span>
                                                    </h1>


                                                </div>
                                                <div id="block-thebest-content"
                                                    class="block block-system block-system-main-block">




                                                    <div data-history-node-id="8799" about="/en/general-intro"
                                                        typeof="schema:WebPage"
                                                        class="node node--type-page node--view-mode-full clearfix">
                                                        <header>

                                                            <span property="schema:name" content="General Intro"
                                                                class="hidden"></span>

                                                        </header>
                                                        <div class="node__content clearfix">

                                                            <div property="schema:text">
                                                                <h3>Definition</h3>

                                                                <h3>Community Policing is understood as Policing with
                                                                    the help of Community.</h3>

                                                                <p>Community Policing is a collaborative effort between
                                                                    Police and Community to identify problems of crime,
                                                                    disorder and involves all elements of the community
                                                                    in the search for solutions to these problems. This
                                                                    concept brings the police and community into a
                                                                    closer working relationship and calls for greater
                                                                    responsibility on citizens.</p>

                                                                <p><b>We all are aware that Policing includes the
                                                                        following:</b></p>

                                                                <ul>
                                                                    <li>Maintenance of order and peace,</li>
                                                                    <li>Security, safety of the people and property.
                                                                    </li>
                                                                    <li>Ensure effective enforcement of law.</li>
                                                                    <li>Detection of crimes</li>
                                                                    <li>Orderly flow of traffic in urban areas and in
                                                                        highways and lot more.</li>
                                                                </ul>
                                                                <p>Thus discussing the objective of Police in relevance
                                                                    to community reveals to concept of community
                                                                    policing which ideally is:</p>

                                                                <ul>
                                                                    <li>Policing, as far as possible and practicable, by
                                                                        the community itself which means that any or all
                                                                        the functions mentioned above may be performed
                                                                        by the community to the extent they can and the
                                                                        remaining functions to be performed by the
                                                                        police with the assistance and involvement of
                                                                        the community to the maximum extent possible.
                                                                    </li>
                                                                    <li>The concept of Community Policing started from
                                                                        village Kotwal. Where a person from the
                                                                        community performs the functions of the police
                                                                        in the village. Gradually and unfortunately the
                                                                        concept of Village Kotwal had been undergoing
                                                                        changes where its community character seems to
                                                                        be dwindling. Home-guards were another form of
                                                                        community policing. Even this has now become
                                                                        more a part of police force than of the
                                                                        community.</li>
                                                                    <li>Civil defense / emergency relief plan developed
                                                                        primarily on involvements and participation of
                                                                        the people in performing the safety, security,
                                                                        relief, and crisis management functions of the
                                                                        police during emergency. But now the idea needs
                                                                        a broader vision, more and regular involvement
                                                                        of Citizens and Police itself.</li>
                                                                </ul>
                                                                <p><b>Few examples of Community Policing are : </b></p>

                                                                <ul>
                                                                    <li>Informal arrangements of night watchman,
                                                                        patrolling an area and obtaining remuneration
                                                                        from the house-holds of the area, is another
                                                                        form of community policing at the initiative of
                                                                        the watch-man but with the willing acceptance of
                                                                        the neighborhood.</li>
                                                                    <li>Security arrangements in housing complexes and
                                                                        housing societies, security arrangements in
                                                                        factories and large establishments are another
                                                                        form of community policing.</li>
                                                                    <li>Institutions like Peace committees activated
                                                                        during period when there is serious apprehension
                                                                        / threat of break down of law and order.</li>
                                                                    <li>Civil defense plans / emergency relief plans
                                                                        during riots or wide spread break-down of law
                                                                        and order.</li>
                                                                    <li>The concepts of rural policing by community
                                                                        (Kotwal),</li>
                                                                    <li>Trained people in the community to perform the
                                                                        functions of the police when required
                                                                        (home-guards)</li>
                                                                    <li>Identified Sector Wardens, Chief wardens etc
                                                                        (under civil defense / emergency relief plan),
                                                                    </li>
                                                                    <li>Special police officers, Honorary Magistrates
                                                                        and involvement of people in trail of offences
                                                                    </li>
                                                                </ul>
                                                                <p>Few Schemes for Community Policing are :</p>

                                                                <ul>
                                                                    <li>Neighborhood watch scheme.</li>
                                                                    <li>Senior citizens’ scheme.</li>
                                                                    <li>Self defense camp for girls.</li>
                                                                    <li>Special police offers for every neighborhood in
                                                                        the in the urban areas.</li>
                                                                    <li>Crime stopper scheme aimed to encourage members
                                                                        of the public to play a part in detecting crime
                                                                        by giving information.</li>
                                                                    <li>Management by one or close involvement of police
                                                                        in.
                                                                        <ul>
                                                                            <li>De-addiction centers for drug addicts
                                                                                and alcoholics.</li>
                                                                            <li>Juvenile aid camps.</li>
                                                                            <li>Orphanage.</li>
                                                                            <li>Shelter homes for run away children.
                                                                            </li>
                                                                            <li>Senior citizen's home.</li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <p>Thus, citizens can form groups within the society or
                                                                    the area they live or work. Such social group can
                                                                    enroll themselves with the Police and work hand in
                                                                    hand with Police to solve problems, minimize
                                                                    disorders in the society and thus achieve the very
                                                                    objective of Community Policing.</p>

                                                                <p>Evolution</p>

                                                                <p>The evolution of police in India over the years, has
                                                                    been guided by the compulsions and needs of the
                                                                    dominant ruling class, may it be a Maurya or Gupta
                                                                    king, a Moghul Monarch, the British running a
                                                                    colonial system to achieve their ends of occupation
                                                                    or even, sadly, so, in our present day democratic
                                                                    arrangement. We must well understand that the Police
                                                                    have been the principle medium through which the
                                                                    dominant classes have sought to perpetuate their
                                                                    hold on power and authority by means fair or foul.
                                                                    Thus, making the Police an instrument of oppression
                                                                    and giving it the image of a rough and ready ruler
                                                                    friendly organization rather than that of an agency,
                                                                    which is impartial and neutral and which objectively
                                                                    enforces the rule of law.</p>

                                                                <p>Ironically, in our country's post independent history
                                                                    too any move to change the basic framework, which
                                                                    even remotely lead to the lessening of control over
                                                                    the Police has been resisted wholeheartedly by the
                                                                    powers that be. In over half a century of
                                                                    independence many commissions were set up and
                                                                    recommendations received without much having been
                                                                    done to let the Police come out its negative image.
                                                                </p>

                                                                <p>In any free society all organs of governance or
                                                                    private enterprises feel a compelling need to
                                                                    contribute positively to the growth and progress of
                                                                    the country. If this is true than how can those who
                                                                    join the police continued to be identified as a
                                                                    grossly negative force of oppression? All of us have
                                                                    the want and desire to contribute positively.</p>

                                                                <p>Even today Police continue to be inextricably
                                                                    enmeshed in and unable to come to terms with
                                                                    contemporary social reality and increasingly
                                                                    becoming alien and painfully irrelevant in the
                                                                    current Indian situation. Can a rapidly changing
                                                                    society swearing by democratic principles afford to
                                                                    live in perpetual conflict with its primary law
                                                                    enforcement agency?</p>

                                                                <p>The crying need to move from a negative to positive
                                                                    image is always present in our minds. The society
                                                                    too -- informally - wants this most manifest arms of
                                                                    governance to become more people friendly and
                                                                    compassionate - like the British "Bobby" - may be.
                                                                    Having known the Police only as a repressive corrupt
                                                                    and aggressive agency, the society had to be the
                                                                    first got involved in the processes, which the
                                                                    Police executed. It was also felt that such efforts
                                                                    would essentially and actively have to come from the
                                                                    Police itself.</p>

                                                                <p>This was the guiding force for us in Madhya Pradesh
                                                                    to launch ourselves into the entire gamut of Police
                                                                    - Community relations. Though informally efforts in
                                                                    this direction had been made at different levels
                                                                    earlier but a concerted deliberate and formal effort
                                                                    was launched in 1995 at Indore. These initiatives
                                                                    were also emulated by other districts and are
                                                                    getting accepted as an effective mode of improving
                                                                    Police - Community Relations.</p>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}