{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">
            <div class="box">
                <h1>Duties of Citizen</h1>
                <p>Being a Social human being, all of us should respect our laws, our teachers and elders<br>
                    Fundamental duties as entrained in the constitution of India<br>
                    Legal duties vis-à-vis criminal law enforcement 40 C.R.P.C <br>
                    Duties to stop vehicle on red light<br>
                    Duty to stay and duty to stop your vehicle on being asked by any police officer in uniform, on any
                    public
                    place or public road.<br> You have right to call for his identity<br>
                    Duty to disclose your correct identity being asked by any police officer in uniform<br>
                    Duty to submit yourself and your belongings including vehicle for search<br>
                    Duty to obey lawful orders of police officer in uniform<br>
                    Duty to appear as witness and state truth before police and courts even if it puts you at some
                    inconvenience, Loss of income <br>and Physical risk. If you do not stand by the side of lay today,
                    you and
                    you dear ones can be next victim of that very <br>criminal. If you cannot take risk, you have no
                    moral right
                    to expect others to take risk.</p>
            </div>
        </div>
    </div>

</section>
{% endblock %}