{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .faq article h4:before {
     content: " ";
 }
 </style>
 {% endblock %}

{% block content %}
<main>
    <section class="back-wh marg-20-70 faq ">
        <div class="container pol-info-wrapper" style="max-width:1000px;">


            <div class="row">
                <h3 title="Hierarchy">Hierarchy</h3>
                <hr class="head-border">
            </div>

            <div class="form-des">
                <p></p>
                <p></p>
            </div>


            <div style="overflow: auto;">

                <table border="0" id="table7" width="100%" cellpadding="0" class="hir">
                    <tbody>
                        <tr style="text-align:center;">
                            <th title="Designation">Designation</th>
                            <th title="abbreviation">abbreviation</th>
                            <th title="Hudda">Hudda</th>
                            <th title="food print">food print </th>
                        </tr>
                        <tr>
                            <td align="left" title="Commissioner of Police">Commissioner of Police</td>
                            <td title="D.G.P.">D.G.P</td>
                            <td title="Director General of Police / Upper Director General of Police">Director General of Police / Upper Director General of Police
                            </td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/2.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Co-Commissioner of Police">Co-Commissioner of Police</td>
                            <td title="I.G">I.G</td>
                            <td title="Special Inspector General of Police">Special Inspector General of Police</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/3.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Additional Commissioner of Police">Additional Commissioner of Police</td>
                            <td title="D.I.G.">D.I.G.</td>
                            <td title="Deputy Inspector General of Police">Deputy Inspector General of Police</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/4.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Deputy Commissioner of Police">Deputy Commissioner of Police</td>
                            <td title="S.S.P.">S.S.P.</td>
                            <td title="Superintendent of Police (Selection Category)">Superintendent of Police (Selection Category)</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/5.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Deputy Commissioner of Police">Deputy Commissioner of Police</td>
                            <td title="S.P.">S.P.</td>
                            <td title="Superintendent of Police (Junior Management Category)">Superintendent of Police (Junior Management Category)</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/6.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Deputy Commissioner of Police">Deputy Commissioner of Police</td>
                            <td title="A.S.P.">A.S.P.</td>
                            <td title="Additional Superintendent of Police (less than 10 years of service)">Additional Superintendent of Police (less than 10 years of service)</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/7.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Deputy Commissioner of Police">Deputy Commissioner of Police</td>
                            <td title="A.S.P">A.S.P</td>
                            <td title="Additional Superintendent of Police (State Police Service)">Additional Superintendent of Police (State Police Service)</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/8.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Assistant Commissioner of Police">Assistant Commissioner of Police</td>
                            <td title="D.S.P.">D.S.P.</td>
                            <td title="Deputy Superintendent of Police">Deputy Superintendent of Police</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/9.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Senior Inspector of Police / Inspector of Police">Senior Inspector of Police / Inspector of Police</td>
                            <td title="Inspector">Inspector</td>
                            <td title="Inspector of Police">Inspector of Police</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/10.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Assistant Inspector of Police">Assistant Inspector of Police</td>
                            <td title="A.S.I.">A.S.I.</td>
                            <td title="Assistant Inspector of Police">Assistant Inspector of Police</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/11.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Deputy Inspector of Police">Deputy Inspector of Police</td>
                            <td title="S.I.">S.I.</td>
                            <td title="Deputy Inspector of Police">Deputy Inspector of Police</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/12.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Assistant Sub-Inspector of Police">Assistant Sub-Inspector of Police</td>
                            <td title="S.P.O">S.P.O</td>
                            <td title="Assistant Sub-Inspector of Police">Assistant Sub-Inspector of Police</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/13.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Police constable">Police constable</td>
                            <td title="Po.S.">Po.S.</td>
                            <td title="Police constable">Police constable</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/14.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Police Naik">Police Naik</td>
                            <td title="Po.na">Po.na</td>
                            <td title="Police Naik">Police Naik</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/15.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                        <tr>
                            <td align="left" title="Police constable">Police constable</td>
                            <td title="P.S.">P.S.</td>
                            <td title="Police constable">Police constable</td>
                            <td align="center" bgcolor="#fff0c7"><img
                                    src="https://mumbaipolice.gov.in/images/Hierarchy/19.png" alt="" width="185"
                                    height="65" border="0"></td>
                        </tr>

                    </tbody>
                </table>


            </div>

            <div class="container text-center">
                <div class=" paginate ">

                </div>
            </div>

        </div>
    </section>
</main>

{% block script %}
<script>
    $('ul.nav li.dropdown').hover(function() {
  $(this).find('.hoves').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.hoves').stop(true, true).delay(200).fadeOut(500);
});
</script>
     <script src="js/inner-main.js"></script>
<script type="text/javascript">
	function toggleDarkLight() {
  var body = document.getElementById("body");
  var currentClass = body.className;
  body.className = currentClass == "dark-mode" ? "light-mode" : "dark-mode";
}
</script>    
{% endblock %}        

{% endblock %}