{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">
                <h1>Our Goal</h1>
                <p>Mission
                    The Goal of the Bihar Police Academy is to prepare leaders for the Bihar Police, who will lead /
                    command the
                    service with courage, uprightness, dedication and a strong sense of service to the people.

                    The Academy will endeavour to inculcate in them, all such values and norms as would help them to
                    serve the
                    people honestly and impartially with zeal and dedication. It will try to inculcate integrity of the
                    highest
                    order, sensitivity to aspirations of people in a fast changing social and economic milieu, respect
                    for human
                    rights, broad liberal perspective of law and justice, high standard of professionalism, physical
                    fitness and
                    mental alertness.

                    The Academy will be a centre for research studies on police subjects and will expand its resource
                    base
                    through tie-ups with similar institutions in and outside the country.

                    Vision
                    Bihar Police is committed to achieve the highest standards of professional competence, adapting to
                    changes
                    both foreseen and unforeseen, using Science and Technology and synergizing its vast human potential
                    to the
                    optimum. Transparency in working and accountability to the people and the Constitution is paramount
                    goal of
                    academy.

                    Upholding the belief in constitution, inalienable Human Rights of the individual and Rule of Law
                    shall be
                    top priority of academy.

                    Bihar Police will achieve the following by training officers in:

                    Prevention and Detection of Crime by systematic, scientific, meticulous and rigorous investigation.

                    Maintaining public peace and law and order by being fair and impartial.

                    Encouraging Police –public cooperation by initiating Community policing initiatives.

                    Combating Extremist and Anti National activities with firmness interspersed with attempts to win the
                    hearts
                    and minds of the militants.

                    Creating a Work environment and work ethic which focuses on team building, multilateral
                    communication and
                    mutual trust.

                    Developing a spirit of humanism, reform and compassion for the poorest of the poor.

                    Evolving effective systems and updating existing procedures in collaboration with the Courts to firm
                    up the
                    Criminal Justice System.

                    Striving for excellence in every aspect of its functioning to reach the pinnacles of achievement.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}