{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="content">
        <h1 style="text-align:center">Track Application Status</h1>
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-7 col-lg-8 col-xl-9 w-100">
                    <div class="card">
                        <div class="card-body">

                            <form method="POST" action="#">
                                {% csrf_token %}
                                <div class="row form-row">

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input type="text" name="full_name" class="form-control"
                                                value="{{ user_profile.Master.FullName}}">
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                                <input type="date" name="date_of_birth"
                                                    class="form-control datetimepicker"
                                                    value="{{ user_profile.Master.Date}}">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>City</label>
                                            <select class="form-select" name="city" id="city">
                                                {% for ct in all_city %}
                                                <option value="{{ct.short_tag}}" data-name="">{{ct.tag}}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Select Appliction Type</label>
                                            <select class="form-control form-control-submit custom-select-2 full-width"
                                                name='select_appliction_type' required>
                                                <option>Select Appliction Type</option>
                                                <option class="RTI" value="RTI">RTI</option>
                                                <option class='Passport|PCC|IC|GEP|' value="Passport|PCC|IC|GEP|">Passport|PCC|IC|GEP|</option>
                                                <option class="Diplomite|Offical|Application" value="Diplomite|Offical|Application">Diplomite|Offical|Application</option>
                                                <option class='Appeal Application' value="Appeal Application">Appeal Application</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                <div class="submit-section">
                                    <button type="submit" class="btn btn-success submit-btn">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}