{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">

                <h1>Prisoner's Rights</h1>
                <p>"Detainee" or "detained person" means any person deprived of personal liberty except as a result of
                    conviction for an offence. "Imprisoned person" or "prisoner" means any person deprived of personal
                    liberty
                    as a result of conviction for an offence.<br>
                    All persons deprived of their liberty shall be treated humanely Detained persons shall be held in
                    officially recognized places.<br>
                    Information shall be readily made available to the detainee's family and legal representative
                    Decisions about the duration and legality of detention or imprisonment of a person must be made by a
                    judge or
                    similar authority There shall be no discrimination in detention or imprisonment on the grounds of
                    race, color, gender,
                    language, religion, political beliefs, national or social origin, property birth or other
                    status.<br>
                    Religious and moral beliefs of the detainee shall be respected Different categories of prisoners are
                    to be
                    detained separately. <br> Juvenile detainees are to be kept separate from adult detainees male
                    detainees from female detainees; and unconvicted detainees from convicted detainees
                    A detained person shall receive prompt and full information about any order of detention including
                    the
                    reasons for the detention
                    A detained or imprisoned person has the right to be visited by family members and shall be given
                    adequate
                    opportunity to communicate with the outside world
                    A detained or imprisoned person is entitled to communicate privately and in person with his or her
                    legal representative
                    Persons detained in an armed conflict situation are entitled to communicate with the delegate of the
                    international committee of the Red Cross<br>
                    The place where the prisoner is kept, especially the place where the prisoner sleeps should be
                    designed to
                    preserve the prisoner's health. The prisoner shall be provided with adequate food, shelter, and
                    clothing, as well as equal and easy access to medical services, exercise, and items or personal
                    hygiene
                    Restriction and supervision of the prisoner are allowed only if they are necessary for the
                    administration of
                    justice and for the security and good order of the place where the prisoner is held
                    Disciplinary measures administered in prison must be consistent with principles of human rights.<br>
                    In particular prisoners shall:
                    Be punished only in accordance with the terms of law or regulations of the competent administrative
                    authority
                    Be punished only when they have been informed of the offence committed previously and given a proper
                    opportunity of presenting a defense. The competent authority shall conduct a thorough examination of
                    the
                    case
                    Never be punished twice for the same offence
                    Never be subjected to corporal punishment, to placement in a dark cell or to other cruel, inhumane
                    or
                    degrading punishment
                    Tools of restraint such as handcuffs and straight-jackets must not be used for any longer time than
                    is
                    necessary, and shall never be used for punishment. <br>Situations when such tools of restraint might
                    be
                    permitted are As a precaution against escape during a transfer, provided that they shall be removed
                    when the
                    prisoner
                    appears before a judicial or administrative authority On medical grounds by direction of the medical
                    officer; and by order of the director of the prison, <br>if other methods of control fail, in order
                    to prevent prisoners from injuring themselves or others or from
                    damaging property. In such instances the director shall immediately consul the medical officer and
                    report to
                    the higher administrative authority<br>
                    The patterns and manner of use of instruments of restraint shall be decided by the central prison
                    administration or a higher authority If you need an idea for a Christmas present then think about
                    the
                    Rubik's Cube which is the best selling
                    puzzle toy in the World.</p>

            </div>
        </div>
    </div>
</section>
{% endblock %}