{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}


{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">
                <div class="block4 pb-4">
                    <div class="container">
                        <div class="content-box inner-box box-container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="sec-pad aboutd innercontent">

                                        <div class="abouttxt">
                                            <div>
                                                <div id="block-thebest-page-title"
                                                    class="block block-core block-page-title-block">




                                                    <h1 class="js-quickedit-page-title"><span property="schema:name">How
                                                            to Report
                                                            an Offense &amp; to Whom</span>
                                                    </h1>


                                                </div>
                                                <div id="block-thebest-content"
                                                    class="block block-system block-system-main-block">




                                                    <div data-history-node-id="8723"
                                                        about="/en/how-to-report-an-offense-to-whom"
                                                        typeof="schema:WebPage"
                                                        class="node node--type-page node--view-mode-full clearfix">
                                                        <header>

                                                            <span property="schema:name"
                                                                content="How to Report an Offense &amp; to Whom"
                                                                class="hidden"></span>

                                                        </header>
                                                        <div class="node__content clearfix">

                                                            <div property="schema:text">
                                                                <p>As per section 154 Cr.P.C. a Police Officer is duty
                                                                    bound to
                                                                    register a cognizable offence when reported by any
                                                                    person. The
                                                                    offence can be reported:-</p>

                                                                <ul>
                                                                    <li>By submitting in writing the details of offence
                                                                        either
                                                                        personally or through post</li>
                                                                    <li>By narrating orally to officer in-charge of
                                                                        Police station
                                                                    </li>
                                                                    <li>By informing through telephone</li>
                                                                    <li>The offence should be reported to officer
                                                                        incharge of a
                                                                        police station as far as possible but can be
                                                                        reported to
                                                                        MHC. If these officials refuse to register an
                                                                        offence a
                                                                        person can approach Supervisory Officer of
                                                                        police station or
                                                                        Supdt. of Police of the district</li>
                                                                    <li>Copies of FIR's are given free of cost</li>
                                                                    <li>Insist on claiming your FIR Copy immediately
                                                                        after
                                                                        registration of a case</li>
                                                                    <li>A Criminal case (FIR) can be registered only in
                                                                        the event of
                                                                        a cognizable offence</li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}