{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for i in report %}
<section class="contact-form" style="width: 1000px; margin: auto;">
    <div class="content">
        <h1 style="text-align:center">Report {{i.id}}</h1>
    
        <div class="container-fluid">
    
    <table class="table table-striped">
       
        <tbody>
          <tr>
             <td>Select Category:-</td>
             <td>{{i.Select_Category}}</td>
          </tr>
          <tr>
            <td>Subject :-</td>
            <td>{{i.Subject}}</td>
          </tr>
          <tr>
            <td>Full Name :-</td>
            <td>{{i.FullName}}</td>
          </tr>
       
          <tr>
            <td>Police Station :-</td>
            <td>{{i.Police_Station}}</td>
          </tr>
          <tr>
            <td>Mobile No :-</td>
            <td>{{i.Mobile}}</td>
          </tr>
          <tr>
            <td>Report/Feedback :-</td>
            <td>{{i.Description}}</td>
          </tr>
         
        </tbody>
        
      </table>
    </div>
    </div>
  </section>
  {% endfor %}

{% endblock %}