{% extends 'base.html'%}
{% load static %}
{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Officers Image</th>
          <th scope="col">FullName</th>
          <th scope="col">MoblileNo/Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><img class="img-fluid" alt="User Image" src="{% static 'img/unnamed_dgp.jpg' %}"
            style="width: 250px;  height: 250px;"> </th>
          <td>
            <h3>DGP, Bihat</h3>
            <h3>S.K. Singhal</h3>
          </td>
          <td>
            <h3>+918969775566</h3>
            <h3>biharpolicedgp@gmail.com</h3>
          </td>
        </tr>
        
        <tr>
          <td>
            <img class="img-fluid" alt="User Image" src="{% static 'img/ipspatna.webp' %}"
              style="width: 250px;  height: 250px;">
          </td>
          <td>
            <h3>ADGP, Bihar</h3>
            <h3>Vikas Vibhav</h3>
          </td>
          <td>
            <h3>+916234567890</h3>
            <h3>biharsarkarssp@gmail.com</h3>
          </td>
        </tr>
        <tr>
          <td><img class="img-fluid" alt="User Image" src="{% static 'img/190102080248442.jpg' %}"
              style="width: 250px;  height: 250px;">
          <td>
            <h3>SSP, Patna</h3>
            <h3>Garima Malik</h3>
          </td>
          <td>
            <h3>+918977546323</h3>
            <h3>biharpolicessp@gmail.com</h3>
          </td>
        </tr>
        <tr>
          <th><img class="img-fluid" alt="User Image" src="{% static 'img/cop_050120-1.jpg' %}"
              style="width: 250px;  height: 250px;">
          <td>
            <h3>SSP, Chhapra</h3>
            <h3>Amit Kumar</h3>
          </td>
          <td>
            <h3>+917745345623</h3>
            <h3>biharpolicessp@gmail.com</h3>
          </td>
        </tr>
        <tr>
          <th><img class="img-fluid" alt="User Image" src="{% static 'img/channels4_profile.jpg' %}"
              style="width: 250px;  height: 250px;">
              <td>
                <h3>ASP, Munger</h3>
                <h3>Navjot Simi</h3>
              </td>
              <td>
                <h3>+917745345623</h3>
                <h3>biharpolicessp@gmail.com</h3>
              </td>
        </tr>
        <tr>
          <th><img class="img-fluid" alt="User Image"
              src="{% static 'img/main-qimg-1efff0edcb72bb0f4763b2d3a5e7755a-lq.jpg' %}"
              style="width: 250px;  height: 250px;">
              <td>
                <h3>SSP, Chhapra</h3>
                <h3>Mannu Maharaj</h3>
              </td>
              <td>
                <h3>+917745345623</h3>
                <h3>biharpolicessp@gmail.com</h3>
              </td>
        </tr>
        <tr>
          <th><img class="img-fluid" alt="User Image" src="{% static 'img/Lipi_SIngh_Facebook.jpg' %}"
              style="width: 250px;  height: 250px;">
              <td>
                <h3>SSP, Munger</h3>
                <h3>Lipi Singh</h3>
              </td>
              <td>
                <h3>+917745345623</h3>
                <h3>biharpolicessp@gmail.com</h3>
              </td>
        </tr>
        <tr>
          <th><img class="img-fluid" alt="User Image" src="{% static 'img/images.jpg' %}"
              style="width: 250px;  height: 250px;">
              <td>
                <h3>SSP, Baisali</h3>
                <h3>Vinay Tiwari</h3>
              </td>
              <td>
                <h3>+917745345623</h3>
                <h3>biharpolicessp@gmail.com</h3>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

{% endblock %}