{% extends 'base.html'%}
{% load static %}

{% block css %}
<style>
    .box {
        width: 1100px;
        margin: 20px auto 0px auto;

    }

    .box h1,
    p {
        margin: 10;
        padding: 10px 10px;

    }

    .box h1 {
        font-weight: 500;
        position: relative;
        display: table;
        margin: 0 auto 15px;
        padding: 6px 15px;
        font-size: 155%;
        border-top: 4px double #5a71d6;
        border-bottom: 4px double #ff7a7a;
        text-transform: uppercase;
        font-family: 'David Libre', serif;
        display: block;
    }
</style>
{% endblock %}

{% block content %}

<section class="contact-form" style="width: 1200px; margin: auto;">
    <div class="card">
        <div class="card-body">

            <div class="box">
                <h1>Women Rights</h1>
                <p>Every woman has a right to take legal action against any person who assaults or tries to outrage her
                    modesty
                    by any deliberate constant gesture or physical force (Sec. 354 of IPC).<br>
                    Every woman has a right to lodge a complaint in the police station , if she is forced to have sexual
                    intercourse against her will (Sec. 376 of IPC).<br>
                    A woman has the right to lodge a complaint if she is being harassed, even teased and passed rude
                    remarks in
                    public places like buses, trains, roads etc. (Sec. 354 of IPC).<br>
                    Every woman has a right to take legal action against her husband if she is being tortured both
                    physical and
                    mentally or tortured for not agreeing to the demand of money or valuables (Sec. 498(A) of IPC).<br>
                    If the relations of the husband of a woman or her mother-in-law or any other relatives, torture her
                    and
                    demand money, valuable articles from her parents, she can lodge a complaint against them. (Sec.
                    498(A) of
                    IPC).<br>
                    If a woman has been kidnapped and either forced against her will to marry any person or to have
                    sexual
                    intercourse, a crime has been committed and she has the right to lodge a complaint. (Sec. 366 of
                    IPC).<br>
                    If any person demands or requests for sexual favors, passes sexually colored remarks, or verbally or
                    non-verbally conducts himself in a sexual manner to the woman at her work place,<br>
                    then she has the right to complain against this harassment to her employer and the complaint would
                    be lodged
                    through as per procedure/guidelines of the Supreme Court. (Supreme Court judgement in Writ Petition
                    No-666-700 of 1992 in Vishaka and others Vs State Of Rajasthan).<br>
                    A woman if she is a witness has a right to be examined in her own house in the presence of her close
                    relatives(Sec.160 of Cr.P.C.).<br>
                    A woman should not sign the FIR unless she is satisfied that it is accurate. (National Commission
                    for
                    women).<br>
                    If the officer concerned refuses to register the FIR, a copy of the complaint should be sent to the
                    Superintendent of Police immediately ( N.C.W.)<br>
                    Every woman has the right to take legal action by approaching the Court if the officer in charge
                    does not
                    take any action on the complaint (N.C.W.)</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}